body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;

  background-color: #646464;
  color: #f3f3f3;
  font-family: "Courier New", Courier, monospace;
}

/*

MENU

*/

.menu {
  width: 200px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #323232;
}

@media only screen and (max-width: 700px) {
  .menu {
    position: initial;
    width: 100%;
    height: auto;

    text-align: center;
  }

  .menu-item {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.menu-title {
  padding: 15px;
  margin-bottom: 20px;

  background-color: #232323;

  font-weight: bold;
  font-size: 24px;
  color: #f3f3f3;
  cursor: pointer;
}

.menu-item {
  width: 160px;

  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/*

/MENU

*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 10px;

  background-color: #232323;
  text-align: center;
  color: #f3f3f3;
}

/*

GALLERY

*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: calc(100% - 200px);
  height: auto;

  margin-left: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    margin-left: 0px;
  }
}

.gallery-item {
  margin: 5px;

  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.gallery-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery-item > img {
  margin: 10px 10px 0px 10px;
}

.gallery-item > div {
  width: 100%;
  margin: 10px;
}

.gallery-img {
  width: calc(192px * 2);
  height: calc(108px * 2);
}

/*

/GALLERY

*/

.container-login {
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 200px);
  height: 100%;

  margin-left: 200px;
}

@media only screen and (max-width: 700px) {
  .container-login {
    width: 100%;
    margin-left: 0px;
  }
}

.login {
  padding: 20px;
  border: 1px solid black;

  background-color: rgba(0, 0, 0, 0.2);
}

.login > span {
  font-size: 20px;
  font-weight: bold;
}

.login > div span {
  cursor: pointer;
}

.login > div span:hover {
  font-weight: bold;
}

.login > input {
  width: 200px;
  font-family: "Courier New", Courier, monospace;

  border: 0;
  padding: 5px 0px;
  margin: 5px 0px;

  text-align: center;
}

.login > input:nth-of-type(1) {
  margin-top: 10px;
}

.login > input:nth-of-type(2) {
  margin-bottom: 10px;
}

.login > input:last-child {
  margin-top: 20px;
  cursor: pointer;
}

.container-preview {
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 200px);
  height: 100%;

  margin-left: 200px;
}

@media only screen and (max-width: 700px) {
  .container-preview {
    width: 100%;
    margin-left: 0px;
  }

  .container-preview > img {
    max-width: 100% !important;
  }
}

.container-preview > img {
  max-width: calc(100% - 200px);
  max-height: 100%;
}
